<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1 style="margin-bottom: 0px;">{{ .Site.Title }}</h1>
      </a>
      <ul style="list-style: none; padding-left: 0px; margin-top: 0px; margin-bottom: 2rem;">
        <li>Husband<span style="font-size: 1.5rem;"> 🤵🏽</span></li>
        <li>Engineer<span style="font-size: 1.5rem;">‍ 💻</span></li>
        <li>Designer<span style="font-size: 1.5rem;"> 📐</span></li>
      </ul>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ range .Site.Menus.main -}}
        <li>
          <a href="{{.URL}}"> {{ .Name }} </a>
        </li>
        {{- end }}
        <li style="font-size: .8rem;">
          <a style="color: #8F8F8F;" target="_blank" href="https://franciscogarcia-projects.netlify.com/"
            aria-label="Check out my projects">Projects</a>
        </li>
        <li style="font-size: .8rem;">
          <a style="color: #8F8F8F;" target="_blank" href="https://www.behance.net/franciscogarcia5"
            aria-label="Check out my design work">Design work</a>
        </li>
        <li style="font-size: .8rem;">
          <a style="color: #8F8F8F;" target="_blank" class="github-button" href="https://github.com/fgarcia-student"
            aria-label="Follow @fgarcia-student on GitHub">Github: @fgarcia-student</a>
        </li>
        <li style="font-size: .8rem;">
          <a style="color: #4AB3F4;" target="_blank" aria-label="Follow @francisc0x5E on Twitter"
            href="https://twitter.com/francisc0x5E" class="twitter-follow-button">Twitter: @francisc0x5E</a>
        </li>
      </ul>
    </nav>

    <p>
      {{ with.Site.Params.copyright }}{{.}}{{ else }}&copy;
      {{ now.Format "2006"}}. All rights reserved. {{ end }}
    </p>
  </div>
</aside>